{% extends "base.html" %}
{% block content %}
    <p></p>
    <h1>Товары</h1>

    {% if not current_user.is_authenticated %}
        <p></p>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in products %}
                <div class="card" style="width: 18rem;">
                    {% if not item.image %}
                        <img src="static\images\no-photo.png" class="card-img-top" alt="...">
                    {% else %}
                        <img src=" {{ item.image }} " class="card-img-top" alt="...">
                    {% endif %}
        
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content }}</p>
                    </div>
        
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <b> {{ item.price }} руб. </b></li>
                    </ul>
        
                    <div class="card-body">
                        <a href="" class="btn btn-success">Купить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    {% else %}

        <p></p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="static\images\bear-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Медведь</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\brachiosaurus-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Брахиозавр</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\brown-bear-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Бурый медведь</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\crocodile-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Крокодил</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\husky-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Хаски</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\mouse-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Мышь</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\panda-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Панда</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\panther-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Пантера</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\rabbit-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Кролик</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\shark-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Акула</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\snake-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Змея</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\stegosaurus-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Стегозавр</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\toasts-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Тосты</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\triceratops-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Трицератопс</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <img src="static\images\tyrannosaurus-toy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Тираннозавр</h5>
                        <a href="" class="btn btn-danger">Удалить товар</a>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

{% endblock %}
